h1{ font-family: "Courier New";
		
                font-weight: Bold;
                font-size: 1cm;
                text-decoration: underline;
                text-align: center;
}

ol{ 
	width:500px;
	position: absolute;
    left: 700px;
    top: 150px;
	 color: #001100;
    font-family: "Times New Roman";
    font-size: 20pt;
    font-weight: bold;
}
 #gold{

position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#kesha{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}