h1{ font-family: "Courier New";
		
                font-weight: Bold;
                font-size: 1cm;
                text-decoration: underline;
                text-align: center;
}

ol{ 	height: 600px;
	width: 800px;
	position: absolute;
    left: 700px;
    top: 150px;
	 color: #ff0000;
    font-family: "Times New Roman";
    font-size: 20pt;
    font-weight: bold;
}
#gaga{
	width:500px
position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#kesha{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}
#stars{

position: absolute;
    left: 1000px;
    top: 1300px;
    z-index: -1;
}
#cool{
    position: absolute;
    right: 500px;
    top: 600px;
    z-index: -1;
}